.profilemain {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: -100px;
    /* border-radius: 2%; */
    background-color: white;
  }
  .profile{
    background-color: rgb(187, 182, 182);
  }
  .profhead {
    text-align: center;
    
  }
  
  label {
    font-weight: bold;
  }
  .proffont{
   
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .proftext {
    width: 100%;
    padding: 8px;
    box-shadow:inset;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }
  
  .profbut {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .profbut1{
    float:right;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .photo-upload label {
    display: block;
    margin-bottom: 5px;
  }
  
  .photo-upload input[type="file"] {
    display: inline-block;
  }
  
  .photo-upload img {
    max-width: 200px;
    margin-top: 10px;
  }
  